.jumbotron {
  background: black;

}

h1 {
  background: black;
  color: black !important;
  text-shadow: -1px 0 rgb(148, 28, 28), 0 1px rgb(148, 28, 28), 1px 0 rgb(148, 28, 28), 0 -1px rgb(148, 28, 28);
  font-size: 70px !important;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}