body {
  font-family: 'Libre Baskerville', serif;
  background: black;
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: white;
  margin-top: -10px;
}

.grid-container {
  display: grid;
  grid-gap: 20px;  
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
